* {
    padding: 0;
    margin: 0;
    font-family: "Inter", Arial, sans-serif;
}

body {
    background-color: rgb(250, 221, 194);
}

.layout {
    width: 100%;
    display: grid;
    grid:
        "header" auto "main" 1fr "footer" auto / 1fr;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    cursor: default;
}

header {
    grid-area: header;
    background-color: rgb(50, 159, 231);
    min-height: 80px;
    display: flex;
    align-items: center;
    grid-row: 1 / 2;
    grid-column: 1 / 5;
    justify-content: space-between;
}

header h1 {
    color: white;
    background-color: transparent;
    font-size: 40px;
    font-weight: 800;
    border: none;
    margin-left: 4%;
}

header a {
    background-color: transparent;
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 800;
    padding: 8px 16px;
    border-radius: 5px;
    margin-right: 4%;
}

header a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(4, 300px);
    gap: 60px;
    place-content: center center;
}

main h1 {
    color: white;
    font-size: 80px;
    font-weight: 800;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
    place-self: center;
    padding-top: 45px;
}

main a {
    text-decoration: none
}

article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 400px;
    border-radius: 10px;
    background-color: white;
    height: 400px;
    width: 300px;
    padding: 10px 0;
    cursor: pointer;

    box-shadow: 12px 13px 31px -22px rgba(0, 0, 0, 0.42);
    -webkit-box-shadow: 12px 13px 31px -22px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: 12px 13px 31px -22px rgba(0, 0, 0, 0.42);

}

article:hover {
    box-shadow: inset 0 0 0 1.5px rgb(50, 159, 231);
}

article img {
    border: 2px solid black;
    border-radius: 8px;
    margin-top: 15px;
    max-height: 190px;
    max-width: 230px;
    align-self: center;
    object-fit: contain;
}

article h2 {
    color: black;
    font-size: 18px;
    font-weight: 700;
    background-color: transparent;

    flex-grow: 1;
    overflow-wrap: break-word;
    
    max-width: 95%;
    text-align: center;
    align-self: center;
    padding: 5px 0;
    margin-left: auto;
    margin-right: auto;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

article h3 {
    color: rgb(50, 159, 231);
    font-size: 25px;
    font-weight: 700;
    background-color: transparent;
    overflow-wrap: break-word;
    max-width: 80%;
    text-align: center;
    align-self: center;
    padding-bottom: 26px;
}

footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    height: 100px;
    background-color: rgb(50, 159, 231);
    margin-top: 60px;
    justify-content: center;
    align-items: center;
}

.p_footer {
    color: white;
    background-color: transparent;
    font-size: 15px;
    font-weight: 800;
    text-align: center;
    place-self: center;
}


@media (max-width: 1400px) {
    main {
        grid-template-columns: repeat(3, 300px);
        gap: 40px;
    }

    main h1 {
        grid-column-end: 4;
        font-size: 70px;
    }
}


@media (max-width: 1050px) {
    main {
        grid-template-columns: repeat(2, 300px);
        gap: 30px;
    }

    main h1 {
        grid-column-end: 3;
        font-size: 60px;
        padding-top: 35px;
    }
}


@media (max-width: 700px) {
    main {
        grid-template-columns: 1fr;
        gap: 25px;
        padding: 0 20px;
    }

    main h1 {
        grid-column-end: 2;
        font-size: 50px;
        padding-top: 25px;
    }

    article {
        width: 100%;
        max-width: 400px;
        justify-self: center;
    }

    header h1 {
        font-size: 32px;
        margin-left: 5%;
    }

    header a {
        font-size: 14px;
        margin-right: 5%;
    }
}


@media (max-width: 400px) {
    main h1 {
        font-size: 40px;
    }

    header h1 {
        font-size: 28px;
    }

    article {
        height: 380px;
    }

    article h2 {
        font-size: 16px;
    }
}